<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--注册School-->
    <bean id="mySchool" class="com.spring3di.di02.School">
        <property name="name" value="西安邮电大学"/>
    </bean>

    <!--注册Student-->
    <bean id="myStudent" class="com.spring3di.di02.Student">
        <!--<constructor-arg index="0" value="李四"/>-->
        <!--<constructor-arg index="1" value="18"/>-->
        <!--<constructor-arg index="2" ref="mySchool"/>-->

        <!--<constructor-arg value="李四"/>-->
        <!--<constructor-arg value="18"/>-->
        <!--<constructor-arg ref="mySchool"/>-->

        <constructor-arg name="name" value="李四"/>
        <constructor-arg name="age" value="18"/>
        <constructor-arg name="school" ref="mySchool"/>
    </bean>

</beans>