<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--注册School-->
    <bean id="school" class="com.spring3di.di07.School">
        <property name="name" value="西安邮电大学"/>
    </bean>

    <!--byName自动注入  注册Student
        会查找与实体类的域属性名相同id的Bean，并将该Bean对象自动注入给该域对象
    -->
    <bean id="myStudent" class="com.spring3di.di07.Student" autowire="byName">
        <property name="name" value="张三"/>
        <property name="age" value="24"/>
    </bean>

</beans>