<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<import resource="classpath:com/spring3di/di14/spring-base.xml"/>-->
    <!--<import resource="classpath:com/spring3di/di14/spring-beans.xml"/>-->

    <import resource="classpath*:com/spring3di/di14/spring-*.xml"/>

    <!--<import resource="spring-beans.xml"/>-->
    <!--<import resource="spring-base.xml"/>-->
</beans>