<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--注册bean-->
    <bean id="myService" class="com.spring2.bean04.SomeServiceImpl"
          init-method="setUp" destroy-method="tearDown">
        <property name="aDao" value="aaa"/>
    </bean>

    <!--注册Bean后处理器-->
    <bean id="myBeanPostProcessor" class="com.spring2.bean04.MyBeanPostProcessor"/>
</beans>