<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--注册School-->
    <bean id="mySchool" class="com.spring3di.di04.School">
        <property name="name" value="西安邮电大学"/>
    </bean>

    <!--c命名空间  注册Student
        调用有参构造器
    -->
    <bean id="myStudent" class="com.spring3di.di04.Student" c:name="王麻子" c:age="21" c:school-ref="mySchool" />

</beans>